@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.main-header {
  padding-left: 70px;
  padding-right: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  padding: 0;
  background-color: #F2F2F2;
  height: 100%;
}

.wrapper {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*навигация*/
.like {
  margin-right: 20px;
  padding: 22px 12px 22px 12px;
  position: relative;
  margin-left: 20px;
}


.main-nav-icon {
  position: absolute;
  top: 0;
  right: 10px;
  left: ;
  bottom: 0;
  margin: auto;
}

.search {
  padding: 22px 12px 22px 12px;
  position: relative;
  margin-left: 15px;
}

.logo {
  margin-right: 30px;
  margin-bottom: -10px;
  position: relative;
}

.main-nav p {
  margin: 0;
  align-self: center;
}

.output {
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 12px;

}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.navigation-link {
  width: auto;
  padding: 20 16px;
  position: relative;

}

.navigation-link .current-page::after{
position: absolute;
content: "";
width: calc(100%-20px);
background-color: #756157;
height: 2px;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}
.site-navigation .navigation-item {
  display: flex;
  align-items: center;
}

.site-navigation .navigation-item .navigation-link {
 padding: 20px 10px;
}
.site-navigation .navigation-item .navigation-link:hover {
  border: none;
 }


.navigation-link:hover {


}

li.navigation-item{
  display: flex;
  align-items: flex-end;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  position: relative;
  row-gap: 200px;
  max-width: 550px;
}

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;

}

.site-navigation {
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;

  align-items: center;
  margin-right: auto;
}

.site-navigation a {
  text-decoration: none;
  color: #000000;
}

.nav-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width: 160px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  margin-left: auto;
  cursor: pointer;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:active {
  color: hsla(0, 0%, 100%, 0.319);
}

.search-button:focus {
  background-color: #615048;
}

.nav-button:hover {
  background-color: #615048;
}

.nav-button:active {
  color: hsla(0, 0%, 100%, 0.319);
}

.nav-button:focus {
  background-color: #615048;
}

.navigation-user {
  list-style: none;
}

.like {
  text-decoration: none;
}

/*MAIN*/

.main-discription {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
}

.discription {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
}

/*первая секция*/
.hero-main-img {
  display: block;
  margin: 0 auto;
  position: relative;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
padding-top:30px;
padding-bottom: 30px;

}

.hero-bottom {
  width: 1200px;
  position: absolute;
  top:420px
}




/*вторая секция*/

.advantages .main-discription {
  width: 620px;
  text-align: center;
  padding-bottom: 25px;
  justify-self: center;
}

.advantages .discription {
  width: 651px;
  text-align: center;
  padding-bottom: 69px;
  justify-self: center;

}

.advantages {
  padding-top: 69px;

}

.advantage-list-title::before{
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(216, 216, 216, 0.52);
  transform: translate(-50%);
top:70px;
left:85px;

}

.advantage-list-title-last::before{
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.52);
  transform: translate(-50%);
  top:70px;
  left:85px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.special-advantages {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.special-advantages h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 175px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  margin-top: 102px;
  padding-bottom: 62px;
  position: relative;
}

.advantage p {
  justify-self: center;
}

.advantages-list-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 175px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;

}

.advantages-list-item img {
  display: block;
}

.special-advantages img {
  display: block;
}

.advantages-list-item p {
  width: 230px;
  text-align: center;

}

.special-advantages p {
  text-align: center;
  width: 230px;

}

.advantages-list-item {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-item {
  background-color: rgba(131, 179, 211, 0.2);
  position: relative;
}

.advanteges-container {
  display: flex
}

.advantage {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.advantage h3 {
  margin: 0;
  padding-bottom: 30px;
}

/*секция сервис*/
.service {
  padding-top: 64px;
}

.service h3 {
  text-align: center;
  margin-top: 183px;
  padding-bottom: 30px;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.service-list-item {
  width: 400px;
  height: 385px;
}

.service-item-home {
  background-image: url("../images/service-icon-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-color: rgba(131, 179, 211, 0.122);
  background-position: 50% 25%;
}

.service-item-food {
  background-image: url("../images/service-icon.-burger.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: 50% 25%;
}

.service-item-presents {
  background-image: url("../images/servicee-icon-present.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-color: rgba(131, 179, 211, 0.122);
  background-position: 50% 25%;
}

.service-list-item p {
  width: 230px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
}

.service .main-discription {
  width: 505px;
  text-align: center;
  padding-bottom: 20px;

}

.service .discription {
  width: 490px;
  text-align: center;
  padding-bottom: 64px;

}

/*секция поиск*/
.search-button {
  font-family: inherit;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  width: 376px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 96px;
  cursor: pointer;
}

.reservation {
  padding-top: 96px;
}

.reservation p {
  width: 592px;
  text-align: center;
  padding-bottom: 64px;
}

.reservation .main-discription {
  width: 592px;
  text-align: center;
  padding-bottom: 20px;
}


/*подпишись на рассылку*/



.newsletter {

  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-catalog {
  background-image: none;
}

.newsletter .main-discription {
  color: #FFFFFF;
  width: 475px;
  text-align: center;
  padding-bottom: 20px;
}

.newsletter .discription {
  color: #FFFFFF;
  width: 475px;
  text-align: center;
  padding-bottom: 54px;
}

.button-submit {
  width: 232px;
  padding: 13px;
  border-radius: 0px 4px 4px 0px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  font-family: "PT Sans";
  cursor: pointer;

}

.button-submit:hover {
  background-color: hsl(204, 48%, 60%);
}

.button-submit:active {
  color: hsla(0, 0%, 100%, 0.315);
}

.button-submit:focus {
  background-color: hsl(204, 48%, 60%);
}

.subscribe-form {
  display: flex;
  align-items: center;

}

.subscribe-form p {
  margin: 0;
}

.email {
  width: 452px;
  height: 52px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  background-color: #F2F2F2;
  padding-left: 20px;
  outline: 0;
  outline-offset: 0;

}

.email:hover {
  background-color: rgba(230, 230, 230, 1);
}

.email:focus {
  border: solid 2px rgba(131, 179, 211, 1);
}

::placeholder {
  color: #000000;
  opacity: 60%;
}

/*подвал*/
.footer-contacts {
  display: flex;
  padding: 40px 70px 30px 70px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: auto;
  align-items: center;
  max-width: 150px;
  flex-wrap: wrap;

}

.phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  width: 331px;
}


.academy-logo {
  margin-left: auto;
  padding: 10px;
}

.academy-logo:hover .nav-icon {
  fill: rgba(117, 97, 87, 1);
}


.academy-logo:active {
  opacity: 30%;
}

.academy-logo:focus .nav-icon {
  fill: rgba(117, 97, 87, 1);
}


.social-item-link {
  padding: 12px;
}

.nav-icon:hover {
  fill: rgba(104, 162, 202, 1);
}

.nav-icon:focus {
  fill: rgba(104, 162, 202, 1);
}

.nav-icon:active {
  opacity: 50%;
}

/*каталог main фильтры*/
.promo-icon {
  margin-right: 15px;
}

.filters {
  background-image: url("../images/catalog-background.jpeg");
  background-size: cover;
  color: #FFFFFF;
  padding: 35px 70px 70px 70px;
}

.filters-groups {
  display: flex;

}

.filters-group:not(:last-child) {
  margin-right: 70px;
  border: none;
  list-style-type: none;
}

.filters-group {}


.last-filters-group {
  margin-right: 140px;
}

.promo-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;

}

.promo-icons-item {
  font-size: 16px;
  font-weight: 400;
  text-align: left;

}

.promo-icons-item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.promo-icons-item:focus {
  color: rgba(255, 255, 255, 1);
}

.promo-icons-item:active {
  color: rgba(255, 255, 255, 0.3);
}


.filters-list {
  list-style: none;
  width: 150px;
  margin: 0;
  padding: 0;
}

.filters h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  line-height: 78px;
  margin-bottom: 8px;
}

.filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding-bottom: 32px;

}

.filters-list-item:not(:last-child) {
  margin-bottom: 16px;

}

.filter-span {
  padding-left: 8px;
}

.filters-group {
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  border: none;
  margin: 0;
  padding: 0;
}



.price-input {
  width: 143px;
}

.main-price {
  border: none;
  display: flex;
  flex-wrap: wrap;

}

.filters-buttons {
  width: 191px;
  padding-top: 55px;

}


.price-input {
  width: 143px;
}

.filters-price {
  width: 288px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.label-price span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.field-price {
  display: flex;
  margin: 0;
  padding: 0;
}

.filters-submit-button {
  width: 191px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border-radius: 4px;
  background-color: #82b3d3;
  border: none;
  color: #F2F2F2;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 32px;

}


.filters-submit-button:hover {
  background-color: hsl(204, 48%, 60%);
}

.filters-submit-button:active {
  color: hsla(0, 0%, 100%, 0.315);
}


.filters-button-reset {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  width: 191px;
}

.filters-button-reset:hover {
  opacity: 60%;
}

.filters-button-reset:active {
  opacity: 30%;
}

.filters-button-reset:focus {
  border: solid 2px rgba(131, 179, 211, 1);
}

/*каталог отелей*/
.catalog-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.catalog {
  padding-left: 70px
}

.hotels-found {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin-right: 200px;
}

.select-control {
  background-color: transparent;
  width: 292px;
  height: 49px;
  border-radius: 4px;
  border: solid 2px #e5e5e5;
  background-image: none;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-right: 70px;


}

/* Range */
.range-scale {
  width: 278px;
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: hsla(0, 0%, 0%, 0.186);
  border-radius: 2px;
  margin-top: 40px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.renge {}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}


.toggle-max {
  top: -8px;
  right: -20px;
}

.range-bar {
  position: absolute;
  height: 4px;

}

.select-control:hover {
  border: solid 2px rgba(104, 162, 202, 1)
}

.select-control:focus {
  border: solid 2px rgba(104, 162, 202, 1)
}

.select-control:disabled {
  border: solid 2px rgba(0, 0, 0, 0.3);
  color: #e5e5e5;
  ;
}

.catalog-view-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}

.catalog-view {
  width: 48px;
  height: 48px;
  border: solid 2px #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
  display: block;
}

.catalog-view:hover {
  border: solid 2px #000000;
}

.catalog-view:focus {
  border: solid 2px rgba(104, 162, 202, 1);
}

.catalog-view.active {
  border: solid 2px #000000;
}


.catalog-view-button-table {
  background-image: url("../images/show_table.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;

}

.card-view-button-slider {
  background-image: url("../images/show_slides.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.card-view-button-list {
  background-image: url("../images/show_list.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.catalog-list {
  list-style: none;
  margin: 0px auto;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;

}

.catalog-list img {
  display: block;
  object-fit: contain;
}

.catalog-img {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  object-fit: contain;
  padding-bottom: 16px;
}



.catalog-list-item {
  border-radius: 4px;
  border: #E6E6E6 dashed 1px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: auto min-content min-content min-content;
  grid-template-columns: 140px 140px;
  gap: 20px 20px;
  padding: 20px
}



.catalog-table {
  display: grid;
  grid-template-columns: 120px 120px;
  margin: auto;
  width: 300px;
  grid-row-gap: 20px;
}



.hotel-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0;
  padding: 0;
}

.catalog-link {
  grid-column: 1/ 3;
  grid-row: 1/2;
}

.catalog-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  width: 300px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.catalog-list a {
  text-decoration: none;
  color: #000000;
}

.hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 140px;
  text-align: end;
  grid-column: 2/3;
  grid-row: 2/3;
}

.catalog-list .more {
  color: #FFFFFF;
  width: 140px;
  height: 36px;
  border-radius: 4px;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 3/4;
}


.more:hover {
  background-color: rgba(97, 80, 72, 1);
}

.more:active {
  color: rgba(255, 255, 255, 0.3);
}

.more:focus {
  background-color: rgba(97, 80, 72, 1);
}

.star {
  grid-column: 1/2;
  grid-row: 4/5;
}

.favorites-button {
  width: 140px;
  height: 36px;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  cursor: pointer;
  font-family: "PT Sans";
  grid-column: 2/3;
  grid-row: 3/4;
}

.favorites-button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.favorites-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.favorites-button:focus {
  rgba(104, 162, 202, 1)
}

.active-favorites {
  background-color: #7DB54F;
}

.catalog-list p {
  margin: 0;
  padding: 0;
}

.rating {
  width: 140px;
  height: 37px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F2F2F2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 4/5;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item:not(.active-pagination):hover:not(.more-pagination) {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-item:not(.active-pagination):active:not(.more-pagination) {
  opacity: 60%;
}

.pagination-item:not(.active-pagination):focus:not(.more-pagination) {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px 15px 15px 15px;
}

.pagination-item.more-pagination {
  background-color: transparent;
}

.more-pagination a {
  color: #000000;
  padding-top: 25px;
  font-weight: 100;
}

.pagination-item.active-pagination {
  background-color: #F2F2F2;
}

.active-pagination a {
  color: #000000;
}

.newsletter-catalog .discription {
  color: #000000;
}

.newsletter-catalog .main-discription {
  color: #000000;
}

.phone {
  font-style: normal;
}

.phone:hover {
  color: hsl(20, 15%, 40%);
}

.phone:active {
  color: hsla(20, 15%, 40%, 0.302);
}

.phone:focus {
  color: hsl(20, 15%, 40%);
}

.field-price label {
  position: relative;
  display: inline-block;
  margin: 0;

}

.price-input1 {
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 146px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  border: none;
}

.price-input2 {
  border-radius: 0 4px 4px 0;
  padding: 12px 20px;
  width: 146px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  border: none;;

}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);


}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;

}

.modal-title {
  color: #000000;
  text-transform: uppercase;
  font-family: PT Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  padding-bottom: 44px;

}

.modal-auth {

padding-left: 70px;
padding-right:50px ;
padding-bottom: 64px;
padding-top: 34px;
}


.modal-close-button {
  position: absolute;
  padding: 0;
  top: 55px;
  right: 60px;
  width: 52px;
  height: 52px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 100%;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

}

.modal-close-button:hover{
  background-color: rgba(230, 230, 230, 1);
}
.modal-close-button:focus{
  border: solid 3px #82B3D3;
}

.modal-close-button:active{
  opacity: 0.5;
}

.label-title {

  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
padding-right: 20px;

}

.modal-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.modal-search {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  width: 577px;
  background-color: #82b3d3;
  border-radius: 10px;

  color: #FFFFFF;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 256px;
  padding-right: 256px;
  border: none;
  cursor: pointer;
}

.modal-search:hover{
background-color: rgba(104, 162, 202, 1);
}
.modal-search:active{
color:rgba(255, 255, 255, 0.5);
}
.modal-search:focus{
  background-color: rgba(104, 162, 202, 1);
}

.modal-input-big {
  width: 440px;
  background-color: rgba(242, 242, 242, 1);
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;
  border-radius: 4px;
  border: none;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: 400px;

}

.modal-input-small {
  width: 31px;
  background-color: rgba(242, 242, 242, 1);
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  border: none;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;


}

.children {
  display: flex;
  width: auto;

}

.adults {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 88px;

}

.warning {
  display: block;
padding-top: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 87, 87, 1);
}

.plus {
  background-image: url(../images/button-plus.svg);
  background-repeat: no-repeat;
  border: none;
  width: 40px;
  height: 48px;
  background-position: center;
  background-color: rgba(242, 242, 242, 1);
  margin-right: -2px;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}

.plus:hover{
  background-color: ;
opacity: 0.5;
background-color: rgba(242, 242, 242, 1);
}
.plus:focus{

}
.plus:active{

}

.minus {
  background-image: url(../images/button-minus.svg);
  background-repeat: no-repeat;
  border: none;
  width: 40px;
  height: 48px;
  background-position: center;
  background-color: rgba(242, 242, 242, 1);
  margin-left: -2px;
  border-radius: 0px 4px 4px 4px;
cursor: pointer;
}


.number {
  display: flex;
}

.arrival-field {
  padding-bottom: 23px;
}


.departure-field{
  padding-bottom: 23px;
}
.modal-free{

  display: block;
  text-align: center;
padding-top: 4px;
font-size: 16px;
font-weight: 400;
line-height: 21px;
padding-left: 50px;


}

.counter-field{
  border: none;
  display: flex;
padding-left: 0px;
align-content: center;
padding-bottom: 48px;
}


.counter-title{
  padding-right: 46px;
}

.children-title{
  display: flex;
  align-items: center;
}






input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.warning-icon {
  background-image: url(../images/Vector-i.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #82b3d3;
width: 26px;
height: 26px;
border: none;
border-radius: 20px;
margin-left:10px;
cursor: pointer;
}


.close-botton:hover{
  opacity: 0.5;
}
