@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans" sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  display: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  ;
}

.shadow-div {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/*навигация*/
.like {
  margin-right: 44px;
}

.search {
  margin-right: 25px;
}

.logo {
  margin-right: 30px;
}

.main-nav{
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  height: 64px;
  justify-content: space-between;
}

.navigation-item{
margin-right: 20px;
}
.site-navigation {
  display: flex;
}

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  width: 88px;
 align-items: center;
}

.site-navigation {
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 339px;
align-items: center;
margin-right: auto;
}

.site-navigation a {
  text-decoration: none;
  color: #000000;
}

.nav-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width:  160px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  margin-left: auto;
}

.navigation-user {
  list-style: none;
}

.like {
  text-decoration: none;
}

/*MAIN*/

.main-discription {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  }

  .discription {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    margin: 0 auto;
  }

/*первая секция*/
.hero img {
display: block;
margin: 0 auto;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .main-discription {
  width: 620px;
  text-align: center;

}

.hero .discription {
  width: 651px;
  text-align: center;
}

/*вторая секция*/

.advantages {
  margin-bottom: 64px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
}

.special-advantages {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;


}
.special-advantages h3 {
  font-size: 24px;
font-weight: 700;
line-height: 28px;
width: 175px;
text-align: center;
text-transform: uppercase;
margin: auto;
margin-top: 102px;
}

.advantages-list-item h3 {
font-size: 24px;
font-weight: 700;
line-height: 28px;
width: 175px;
text-align: center;
text-transform: uppercase;
margin: auto;
margin-top: 102px;

}

.advantages-list-item img {
  display: block;
}
.special-advantages  img {
  display: block;
}

.advantages-list-item p {
width: 230px;
text-align: center;
margin: auto;
}

.special-advantages p {
  text-align: center;
width: 230px;
margin: auto;
  }
.advantages-list-item {
width: 400px;
height: 385px;
background-color: #83B3D31F;
}

.center-item {
  background-color:#83B3D333;
}

.advanteges-container {
  display: flex
}

.advantage {
  width: 400px;

}
/*секция сервис*/
.service {
  margin-bottom: 96px;
}

.service h3 {
  text-align: center;
  margin-top: 183px;
  margin-bottom: 30px;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}

.service-list-item {
width: 400px;
height: 385px;
}

.service-item-home {
  background-image: url("../images/service-icon-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-color: #83B3D31F;
  background-position: 50% 25%;
}

.service-item-food {
  background-image: url("../images/service-icon.-burger.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: 50% 25%;
}

.service-item-presents {
  background-image: url("../images/servicee-icon-present.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-color: #83B3D31F;
  background-position: 50% 25%;
}
.service-list-item p {
  width: 230px;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: center;
margin: 0 auto;
}

.service .main-discription {
 width: 505px;
 text-align: center;
 margin-bottom: 20px;

}

.service .discription {
  width: 490px;
  text-align: center;
  margin-bottom: 64px;

 }

/*секция поиск*/
.search-button {
  font-family: inherit;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  width: 376px;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 96px;
}
.reservation p {
width: 592px;
text-align: center;
margin-bottom: 64px;
}
.reservation .main-discription {
  width: 592px;
  text-align: center;
  margin-bottom: 20px;
  }


/*подпишись на рассылку*/

.newsletter {
background-image: url("../images/subscribe-background.jpg");
background-size: cover;
background-repeat: no-repeat;
padding: 96px 258px 102px 258px;
}
.newsletter-catalog {
  background-image: none;
}

.newsletter .main-discription {
  color: #FFFFFF;
  width: 475px;
  text-align: center;
  margin-bottom: 20px;
}

.newsletter .discription {
  color: #FFFFFF;
  width: 475px;
  text-align: center;
  margin-bottom: 54px;
}

.button-submit {
width: 232px;
height: 52px;
border-radius: 4px;
color: #FFFFFF;
background-color: #82B3D3;
border: none;
font-size: 20px;
text-align: center;
font-weight: 700;
font-family: "PT Sans";
}



.email{
width: 452px;
height: 52px;
border-radius: 4px;
border: none;
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
background-color: #F2F2F2;
}

/*подвал*/
.footer-contacts {
  display: flex;
  padding: 40px 70px 30px 70px;
}

.social-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 142px;
  margin-right: 236px;
}

.phone {
font-size: 40px;
font-weight: 400;
line-height: 40px;
text-align: center;
text-decoration: none;
color: #000000;
width: 331px;
}


.academy-logo {
  margin-left: auto;
}

.social-item:not(:last-child) {
  margin-right: 27px;
}
/*каталог main фильтры*/

.filters {
background-image: url("../images/catalog-background.jpeg");
background-size: cover;
 color: #FFFFFF;
}

.filters-groups {
  display: flex;
}
.promo-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.promo-icons-item {
  font-size: 16px;
  font-weight: 400;
  text-align: left;

}

.filters-list {
  list-style: none;
  width: 150px;
}

.filters h1 {
font-size: 60px;
font-weight: 700;
text-align: left;
color: #FFFFFF;
margin: 0;
line-height: 78px;
}

.filters-title {
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
}
.filters-group {
font-size: 18px;
line-height: 23px;
text-align: left;
  border: none;
}

.main-price{
  border: none;
}

.filters-submit-button{
  width: 191px;
height: 36px;
padding: 8px 50px 8px 50px;
gap: 10px;
border-radius: 4px;
background-color: #82B3D3;
border:none;
color: #F2F2F2;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: center;

}

.filters-button-reset{
font-size: 16px;
font-weight: 700;
color: #FFFFFF;
border: none;
background-color: transparent;
}

/*каталог отелей*/
.catalog {
  padding-left: 70px;
  padding-right: 70px;
}

.hotels-found {
color: #000000;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: left;
text-transform: uppercase;
}
.select-control {
background-color: transparent;
width: 292px;
height: 49px;
border-radius: 4px;
border: none;
border-color: #E5E5E5;
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
}

.catalog-view-buttons {
  list-style:none ;
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-view {
  width: 48px;
  height: 48px;
  border: solid 2px #E5E5E5;
  border-radius: 4px;
  background-color: transparent;s
}

.catalog-view.active {
  border: solid 2px #000000;
}


.catalog-view-button-table {
  background-image: url("../images/show_table.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-view-button-slider {
  background-image: url("../images/show_slides.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-view-button-list {
  background-image: url("../images/show_list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog-list-item {
width: 340px;
height:438pxpx;
padding: 20px 0px 0px 0px;
gap: 16px;
border-radius: 4px;
border: 1px;
border-color: black;

}


.catalog-list-title {
  width: 340px;
  height: 438px;
}

.hotel-type {
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
}

.catalog-title {
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: left;
}

.catalog-list a {
  text-decoration: none;
  color: #000000;
}

.hotel-price {
font-size: 18px;
font-weight: 400;
line-height: 21px;
}

 a.more {
  color: #FFFFFF;
  width: 140px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border-radius: 4px;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.favorites {
width: 140px;
height: 36px;
border-radius: 4px;
background-color: #82B3D3;
color: #FFFFFF;
font-family: PT Sans;
font-size: 16px;
font-weight: 700;
line-height: 20px;
border: none;
}

.active-favorites {
  background-color: #7DB54F;
}

.rating {
  width: 140px;
  height: 37px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F2F2F2;
  text-align: center;
}
.pagination-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item{
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-item a{
  text-decoration: none;
  color: #FFFFFF;
}
.pagination-item.more-pagination {
background-color: transparent;
}

.more-pagination a{
  color: #000000;
}

.pagination-item.active-pagination {
  background-color: #F2F2F2;
}
.active-pagination a{
  color: #000000;
}

.newsletter-catalog .discription {
color: #000000;
}

.newsletter-catalog .main-discription {
  color: #000000;
  }

  address {
    font-style: normal;
  }
