@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans" sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  display: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  ;
}

.shadow-div {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/*навигация*/

.site-navigation {
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
}

.site-navigation a {
  text-decoration: none;
  color: #000000;
}

.nav-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width: Fixed (160px)px;
  height: Hug (36px)px;
  padding: 8px 50px 8px 50px;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
}

.navigation-user {
  list-style: none;
}

.like {
  text-decoration: none;
}

/*MAIN*/

.main-discription {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  }

  .discription {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
  }

/*первая секция*/
.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .main-discription {
  width: 620px;
  text-align: center;
}

/*вторая секция*/
.advantages-list {
  list-style: none;
  margin: 0;
  padding:0;
}

.special-advantages {
  background-color: #82B3D3;
  color: #FFFFFF;
}
.advantages-list-item h3 {
font-size: 24px;
font-weight: 700;
line-height: 28px;
width: 175px;
text-align: center;
text-transform: uppercase;
}

.advantages-list-item img {
  display: block;
}

.advantages-list-item p {
width: 230px;
text-align: center;
}


/*секция сервис*/
.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-list-item {
width: 400px;
height: 385px;
}

.service-item-home {
  background-image: url("../images/service-icon-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-color: #83B3D31F;
  background-position: center;
}

.service-item-food {
  background-image: url("../images/service-icon.-burger.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: center;
}

.service-item-presents {
  background-image: url("../images/servicee-icon-present.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-color: #83B3D31F;
  background-position: center;
}
.service-list-item p {
  width: 230px;
  text-align: center;
}


/*секция поиск*/
.search-button {
  font-family: inherit;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  width: 376px;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  border: none;
}
.reservation p {
width: 592px;
text-align: center;
}
.reservation .main-discription {
  width: 592px;
  text-align: center;
  }

/*подпишись на рассылку*/

.newsletter {
background-image: url("../images/subscribe-background.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.newsletter-catalog {
  background-image: none;
}

.newsletter .main-discription {
  color: #FFFFFF;
  width: 475px;
  text-align: center;
}

.newsletter .discription {
  color: #FFFFFF;
  width: 475px;
  text-align: center;
}

.button-submit {
width: 232px;
height: 52px;
border-radius: 4px;
color: #FFFFFF;
background-color: #82B3D3;
border: none;
font-size: 20px;
text-align: center;
font-weight: 700;
font-family: "PT Sans";
}



.email{
width: 452px;
height: 52px;
border-radius: 4px;
border: none;
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
background-color: #F2F2F2;
}

/*подвал*/

.social-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.phone {
font-size: 40px;
font-weight: 400;
line-height: 40px;
text-align: center;
text-decoration: none;
color: #000000;
}


/*каталог main фильтры*/

.filters {
background-image: url("../images/catalog-background.jpeg");
background-size: cover;
 color: #FFFFFF;
}

.promo-icons {
  list-style: none;
}

.promo-icons-item {
  font-size: 16px;
  font-weight: 400;
  text-align: left;

}

.filters-list {
  list-style: none;
}

.filters h1 {
font-size: 60px;
font-weight: 700;
text-align: left;
color: #FFFFFF;
margin: 0;
line-height: 78px;
}

.filters-title {
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
}
.filters-group {
font-size: 18px;
line-height: 23px;
text-align: left;
  border: none;
}

.main-price{
  border: none;
}

.filters-submit-button{
  width: 191px;
height: 36px;
padding: 8px 50px 8px 50px;
gap: 10px;
border-radius: 4px;
background-color: #82B3D3;
border:none;
color: #F2F2F2;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: center;

}

.filters-button-reset{
font-size: 16px;
font-weight: 700;
color: #FFFFFF;
border: none;
background-color: transparent;
}

/*каталог отелей*/

.hotels-found {
color: #000000;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: left;
text-transform: uppercase;
}
.select-control {
background-color: transparent;
width: 292px;
height: 49px;
border-radius: 4px;
border: none;
border-color: #E5E5E5;
font-family: PT Sans;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
}

.catalog-view-buttons {
  list-style:none ;
}

.catalog-view {
  width: 48px;
  height: 48px;
  border: solid 2px #E5E5E5;
  border-radius: 4px;
  background-color: transparent;s
}

.catalog-view.active {
  border: solid 2px #000000;
}


.catalog-view-button-table {
  background-image: url("../images/show_table.svg");
  background-repeat: no-repeat;
  background-position: center;


}

.card-view-button-slider {
  background-image: url("../images/show_slides.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-view-button-list {
  background-image: url("../images/show_list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list {
  list-style: none;
}

.catalog-list-title {
  width: 340px;
  height: 438px;
}

.hotel-type {
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
}

.catalog-title {
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: left;
}

.catalog-list a {
  text-decoration: none;
  color: #000000;
}

.hotel-price {
font-size: 18px;
font-weight: 400;
line-height: 21px;
}

 a.more {
  color: #FFFFFF;
  width: 140px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border-radius: 4px;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.favorites {
width: 140px;
height: 36px;
border-radius: 4px;
background-color: #82B3D3;
color: #FFFFFF;
font-family: PT Sans;
font-size: 16px;
font-weight: 700;
line-height: 20px;
border: none;
}

.active-favorites {
  background-color: #7DB54F;
}

.rating {
  width: 140px;
  height: 37px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F2F2F2;
  text-align: center;
}
.pagination-list{
  list-style: none;
}

.pagination-item{
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-item a{
  text-decoration: none;
  display: block;
  color: #FFFFFF;
}
.pagination-item.more-pagination {
background-color: transparent;
}

.more-pagination a{
  color: #000000;
}

.pagination-item.active-pagination {
  background-color: #F2F2F2;
}
.active-pagination a{
  color: #000000;
}

.newsletter-catalog .discription {
color: #000000;
}

.newsletter-catalog .main-discription {
  color: #000000;
  }

  address {
    font-style: none;
  }
